<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Internet_test_2.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Internet_test_2.My.MySettings>
            <setting name="DarkTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableNotif" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableWarnMsgBrowser" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LanguageUsed" serializeAs="String">
                <value>FR</value>
            </setting>
        </Internet_test_2.My.MySettings>
    </userSettings>
</configuration>