name: License Check Copyright

on:
  schedule:
    - cron: "0 3 1 1 *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - uses: FantasticFiasco/action-update-license-year@v2
      with:
        token: ${{ secrets.ACTIONS_TOKEN }}
        commitTitle: 'Updated license copyright'
        assignees: 'Leo-Peyronnet'
        labels: documentation